# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Laravel/Composer
vendor/
.env

# Node-related
node_modules/

# IDEs and editors
.vscode/
.idea/

# Database dumps
*.sql

# Compiled files
*.class
*.pyc

# Other
*.bak
