section {
  width: 100%;
}

.card {
  display: block;
  width: 500px;
  padding: 20px;
  margin: 5% auto;
  background-color: #161616;
  border-radius: 12px;
}
.card h2 {
  text-align: center;
  margin: 0 0 1em 0;
}
form > input,
textarea,
div.sb {
  margin-bottom: 10px;
}

.valid-msg {
  padding: 0.5em 0.5em 0.5em 2em;
  color: white;
  font-weight: 200;
  font-size: small;
  background-color: rgb(255, 0, 0, 0.1);
  border: 2px solid red;
  border-radius: 6px;
}

.full {
  width: 100%;
}
.sb {
  display: flex;
  justify-content: space-between;
}

textarea {
  min-width: 100%;
  max-width: 100%;
}

input[type="submit"] {
  width: 100%;
  font-weight: 500;
  background-color: rgb(0, 110, 255);
  transition: all 0.15s ease;
}
input[type="submit"]:hover {
  background-color: rgb(0, 85, 225);
}

.pageswitch {
  display: block;
  text-align: center;
  color: #ccc;
}
.pageswitch a {
  color: rgb(225, 0, 255);
  transition: all 0.15s ease;
}
.pageswitch a:hover {
  color: rgb(200, 0, 200);
}
